".source.python":
  "promoted":
    prefix: "pro"
    body: "promoted(${1:self}, ${2:name})"
  "subsystems":
    prefix: "sub"
    body: "subsystems(${1:self}, ${2:local}, ${3:recurse})"
  "clear_dparams":
    prefix: "cle"
    body: "clear_dparams(${1:self})"
  "preconditioner":
    prefix: "pre"
    body: "preconditioner(${1:self})"
  "jacobian":
    prefix: "jac"
    body: "jacobian(${1:self}, ${2:params}, ${3:unknowns}, ${4:resids})"
  "solve_nonlinear":
    prefix: "sol"
    body: "solve_nonlinear(${1:self}, ${2:params}, ${3:unknowns}, ${4:resids})"
  "apply_nonlinear":
    prefix: "app"
    body: "apply_nonlinear(${1:self}, ${2:params}, ${3:unknowns}, ${4:resids})"
  "solve_linear":
    prefix: "sol"
    body: "solve_linear(${1:self}, ${2:params}, ${3:unknowns}, ${4:vois}, ${5:mode})"
  "apply_linear":
    prefix: "app"
    body: "apply_linear(${1:self}, ${2:params}, ${3:unknowns}, ${4:dparams}, ${5:dunknowns}, ${6:dresids}, ${7:mode})"
  "is_active":
    prefix: "is_"
    body: "is_active(${1:self})"
  "get_req_procs":
    prefix: "get"
    body: "get_req_procs(${1:self})"
  "fd_jacobian":
    prefix: "fd_"
    body: "fd_jacobian(${1:self}, ${2:params}, ${3:unknowns}, ${4:resids}, ${5:step_size}, ${6:form}, ${7:step_type}, ${8:total_derivs})"
  "get_combined_J":
    prefix: "get"
    body: "get_combined_J(${1:self}, ${2:J})"
  "get_relname_map":
    prefix: "get"
    body: "get_relname_map(${1:unknowns}, ${2:unknowns_dict}, ${3:child_name})"
