'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'OpenMDAO'
      'submenu':[
        {'label': 'Create MDAO Chart', 'command': 'openmdao-atom:createChartFromFile'}
      ]
    ]
  }
]
'context-menu':
  'atom-text-editor': [
    {'label': 'Create MDAO Chart', 'command': 'openmdao-atom:createChartFromEditor'}
  ]
  '.tree-view.full-menu': [
    {'type': 'separator'}
    {'label': 'Create MDAO Chart', 'command': 'openmdao-atom:createChartFromTree'}
  ]
